body {
  height: 100vh;
  margin: 0;
}
body #app {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0;
  margin: 0;
  border-top: 1px solid #666;
  overflow: hidden;
}
body #app header {
  grid-column: span 12;
  border-bottom: 1px solid #666;
}
body #app aside {
  grid-column: span 3;
  border-right: 1px solid #666;
}
body #app main {
  grid-column: span 9;
}
body #app aside h2 {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  height: 40px;
}
body #app aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body #app aside > ul li {
  list-style: none;
  cursor: pointer;
}
body #app aside > ul > li {
  margin: 16px 0;
}
body #app aside > ul > li > ul {
  margin-left: 22px;
}
body #app aside > ul > li > ul > li {
  margin: 5px 0;
}
.toggle-tree {
  cursor: pointer;
  user-select: none;
  margin-right: 5px;
}
.tree-name {
  font-weight: bold;
  text-transform: capitalize;
}
.leaf-name {
  text-transform: capitalize;
  margin-right: 5px;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #666;
}
.table-actions button {
  width: auto;
}
.table-responsive {
  padding: 10px;
  padding-right: 0;
}
.table-responsive table {
  width: max-content;
}
